.exercise {
  border-bottom: 1px solid rgba(28, 28, 28, 0.4);
  margin: 0;
  padding: 0.4rem 0;
}

.exercise .exercise-row {
  display: flex;
  justify-content: space-between;
  width: 91%;
  align-items: center;
}

#workoutName {
  font-size: 1.7rem;
  margin-bottom: 0;
}

#workout button {
  width: 60%;
  margin: 0 20%;
  margin-top: 0.5rem;
  border-radius: 0.5rem;
}

#workout button:hover {
    background-color: var(--platinum);
}

#workout button:active {
    margin-top: 0.55rem;
    margin-left: calc(20% + 0.05rem);
    margin-bottom: -0.05rem;
    margin-right: calc(20% - 0.05rem);
}

.exercise-row #remove-exercise {
  height: 1.6rem;
  font-size: 0.8rem;
  width: 1.6rem;
  margin: auto 0;
  margin-right: -0.5rem;
  position: absolute;
  right: 9%;
  background-color: rgba(28, 28, 28, 0.3);
  color: var(--anti-flash-white)

}

.exercise-row #remove-exercise:hover {
  background-color: rgba(28, 28, 28, 0.45);
}

.exercise-row #remove-exercise:active {
  margin-top: 0.05rem;
  margin-left: 0.05rem;
  margin-bottom: -0.05rem;
  margin-right: -0.55rem;
}

#exercise-name {
  width: 49%;
  border-right: 1px solid rgba(28, 28, 28, 0.2);;
}

#exercise-details {
  margin: auto 0;
  text-align: right;
}

#createWorkout { 
  display: none;
}

#createWorkout .container #setsInput {
  padding: 0 15%;
  padding-top: 1.2rem;
  padding-bottom: 0.25rem;
}

#createWorkout #number-of-sets {
  width: 70%;
}

#createWorkout #sets {
  width: 4rem;
}