#registration {
    background-color: var(--platinum);
    width: 90%;
    margin: 0 5%;
    border-radius: 1.5rem;
    margin-top: 16%;
    border: 2px solid var(--alabaster);
    padding: 1rem 0;
}

#registration h1 {
    text-align: center;
    margin-bottom: 1rem;
    margin-top: 0.6rem;
}

form .container .row {
    margin-top: 0.5rem;
    display: flex;
    align-items: center;
}

form button {
    margin-top: 0.4rem;
    background-color: var(--ghost-white);
    border-radius: 0.4rem;
    border-color: var(--erie-black);
}

form button:active {
    background-color: var(--alabaster);
    margin-top: 1.1rem;
    margin-left: 0.1rem;
    margin-bottom: -0.1rem;
    margin-right: -0.1rem;
}

form button:hover {
    background-color: var(--anti-flash-white);
}

.error {
    color: red;
    font-size: 0.9rem;
    text-align: right;
    margin-bottom: -0.6rem;
}