body h2 {
  color: var(--anti-flash-white);
  font-size: 1.1rem;
  margin-top: 0.4rem;
  text-align: center;
}

.center-button {
  display: flex;
  justify-content: center;
}

.center-button button {
  position: fixed;
  bottom: 1.8rem;
  width: 2.5rem;
  height: 2.5rem;
  font-size: 1.5rem;
  padding: 0;
  border-radius: 0.4rem;
}

.center-button button:active {
    margin-top: 0.08rem;
    margin-left: 0.08rem;
    margin-bottom: -0.08rem;
    margin-right: -0.08rem;
}

.center-button button:hover {
    background-color: var(--platinum);
}

header #logout {
  margin-right: 1rem;
  font-size: 0.8rem;
  background-color: rgba(218, 221, 216, 0.3);
  color: var(--anti-flash-white);
  border-radius: 0.4rem;
}

header #logout:hover {
  background-color: rgba(218, 221, 216, 0.6);
}

header #logout:active {
  margin-top: 0.05rem;
  margin-left: 0.05rem;
  margin-bottom: -0.05rem;
  margin-right: 0.95rem;
}

#workout-block {
    background-color: var(--platinum);
    width: 90%;
    margin: 1rem 5%;
    border-radius: 1.5rem;
    border: 2px solid var(--alabaster);
    padding-top: 0.75rem;
    padding-bottom: 0.5rem;
    margin-bottom: 2rem;
}

#workout-title {
  text-align: center;
  font-weight: 600;
}

.exercise .exercise-row-userpage {
  display: flex;
  justify-content: space-between;
  width: 96%;
  margin: 0 2%;
  
}

#exercise-name-userpage {
  width: 45%;
  border-right: 1px solid rgba(28, 28, 28, 0.2);
  margin: auto 0;
  margin-left: 1%
}

#exercise-details-userpage {
  margin: auto 0;
  text-align: right;
}

#workout-block #button-row {
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin: 0 15%;
  margin-top: 0.5rem;
}

#workout-block #start {
  border-radius: 0.2rem;
  background-color: var(--ghost-white);
}

#workout-block #hover {
  background-color: var(--platinum);
}

#workout-block #edit {
  border-radius: 0.2rem;
  background-color: var(--anti-flash-white);
}

#workout-block #edit:hover {
  background-color: var(--platinum);
}

#workout-block #delete {
  border-radius: 0.2rem;
  background-color: var(--platinum);
  font-weight: 600;
}

#workout-block #delete:hover {
  background-color: rgb(203, 206, 201);
}

#workout-block #button-row button:active {
  margin-top: 0.05rem;
  margin-left: 0.05rem;
  margin-bottom: -0.05rem;
  margin-right: -0.05rem;
}