#current-exercise {
  background-color: var(--platinum);
  width: 90%;
  margin: 1rem 5%;
  border-radius: 1.5rem;
  border: 2px solid var(--alabaster);
  padding-top: 0.75rem;
  padding-bottom: 0.5rem;
  margin-bottom: 2rem;
}

#current-exercise h3 {
  text-align: center;
  border-bottom: 1px solid rgba(28, 28, 28, 0.4);
  width: 96%;
  margin: 0 2%;
  padding-bottom: 1rem;
  font-size: 1.7rem;
  font-weight: 600;
  padding-top: 0.4rem;
}

#current-exercise #workout-details {
  font-size: 1.1rem;
  text-align: center;
  display: flex;
  align-items: center;
  width: 92%;
  padding-bottom: 2.5rem;
}

#current-exercise #workout-details #exercise-name {
  font-size: 1.2rem;
  font-weight: 580;
}
#current-exercise #workout-details #workout-data {
  text-align: right;
  width: 53%;
}

#current-exercise #workout-details #workout-data strong {
  font-weight: 600;
}

#skip-row {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 0 5%;
  padding-top: 1rem;
  align-items: center;
  border-bottom: 1px solid rgba(28, 28, 28, 0.4);
  padding-bottom: 1rem;
  margin-top: 2rem;
}

#skip-row #skip-exercise {
  border-radius: 0.4rem;
}

#skip-row #skip-exercise:hover {
  background-color: var(--platinum);
}

#skip-row #skip-exercise:active {
  margin-top: 0.05rem;
  margin-left: 0.05rem;
  margin-bottom: -0.05rem;
  margin-right: -0.05rem;
}

#complete-exercise {
  justify-items: center;
  margin-top: 1rem;
}

#complete-exercise button {
  width: 15rem;
  margin: 0.3rem;
  border-radius: 0.3rem;
}

#current-exercise-text {
  text-align: center;
  margin: 0 10%;
  padding-top: 2rem;
  font-size: 1.5rem;
  border-bottom: 1px solid rgba(28, 28, 28, 0.4);
  width: 80%;
  margin-bottom: 0.3rem;
  padding-bottom: 0.3rem;
}

#current-exercise-details {
  background-color: var(--anti-flash-white);
}

#hard {
  background-color: rgba(255, 0, 0, 0.25);
  width: 14rem;
  text-align: center;
  border-radius: 0.4rem;
  margin-bottom: 0.6rem;
}

#hard:hover {
  cursor: pointer;
}

#medium {
  background-color: rgba(255, 165, 0, 0.25);
  width: 14rem;
  text-align: center;
  border-radius: 0.4rem;
  margin-bottom: 0.6rem;
}

#medium:hover {
  cursor: pointer;
}

#easy {
  background-color: rgba(0, 255, 0, 0.22);
  width: 14rem;
  text-align: center;
  border-radius: 0.4rem;
  margin-bottom: 0.6rem;
}

#easy:hover {
  cursor: pointer;
}

#complete-exercise form {
  text-align: center;
}

#progress-exercise {
  background-color: var(--platinum);
  width: 90%;
  margin: 1rem 5%;
  border-radius: 1.5rem;
  border: 2px solid var(--alabaster);
  padding-top: 0.75rem;
  padding-bottom: 0.5rem;
  margin-bottom: 2rem;
  text-align: center;
}

#progress-exercise h3 {
  text-align: center;
  border-bottom: 1px solid rgba(28, 28, 28, 0.4);
  width: 96%;
  margin: 0 2%;
  padding-bottom: 1rem;
  font-size: 1.7rem;
  font-weight: 600;
  padding-top: 0.4rem;
}

#progress-exercise #workout-details {
  font-size: 1.1rem;
  text-align: center;
  display: flex;
  align-items: center;
  width: 92%;
  padding-bottom: 1.5rem;
  padding-top: 1.5rem;
}

#progress-exercise #workout-details #exercise-name {
  font-size: 1.2rem;
  font-weight: 580;
}
#progress-exercise #workout-details #workout-data {
  text-align: right;
  width: 53%;
}

#progress-exercise #workout-details #workout-data strong {
  font-weight: 600;
}

#progress-exercise form #progress {
  max-height: 5rem;
  overflow-y: auto;
}

#progress-exercise h5 {
  width: 90%;
  margin: 1rem 5%;
  margin-top: 1rem;
}

#progress-exercise #update {
  margin-top: 0.75rem;
  border-radius: 0.2rem;
}

#progress-exercise #update:hover {
  background-color: var(--platinum);
}

#progress-exercise #update:active {
  margin-top: 0.8rem;
  margin-left: 0.05rem;
  margin-bottom: -0.05rem;
  margin-right: -0.05rem
}

#progress-exercise #continue {
  margin-top: 0.75rem;
  border-radius: 0.2rem;
}

#progress-exercise #continue:hover {
  background-color: var(--platinum);
}

#progress-exercise #continue:active {
  margin-top: 0.8rem;
  margin-left: 0.05rem;
  margin-bottom: -0.05rem;
  margin-right: -0.05rem
}

#progress-exercise #second-h5 {
  padding-top: 1rem;
  border-top: 1px solid rgba(28, 28, 28, 0.2);
}

#radio-yes-no {
  margin: 0 0.75rem;
}