#createWorkout {
  background-color: var(--platinum);
  width: 90%;
  margin: 1rem 5%;
  padding: 0.8rem;
  border-radius: 2rem;
  border: 2px solid var(--alabaster);
}

#createWorkout #smallInput {
  width: 4rem;
}

#createWorkout #time {
  width: 4rem;
}

#createWorkout .margin-top {
  padding-top: 0.75rem;
  border-top: 1px solid rgba(28, 28, 28, 0.7);
}

#createWorkout .row {
  padding-bottom: 0.5rem;
}

#createWorkout label {
  margin-left: 0rem;
}

#createWorkout .center-input {
  text-align: center;
}

#createWorkout #noOfReps {
  width: 50%;
}

#createWorkout .container #repsInput {
  padding-top: 1rem;
}

#createWorkout #lengthOfTime {
  width: 70%;
}

#createWorkout form button {
  width: 90%;
  margin: 0 5%;
  margin-top: 1rem;
}

#createWorkout #weight {
    width: 6rem;
}
#createWorkout #unit {
    width: 3rem;
    margin-left: 0.4rem;
}

#createWorkout #getWeight {
    text-align: center;
}

#getWorkoutName {
  background-color: var(--platinum);
  width: 90%;
  margin: 2rem 5%;
  padding: 0.8rem;
  border-radius: 2rem;
  border: 2px solid var(--alabaster);
  text-align: center;
}

#workout #workoutName {
  color: var(--erie-black);
  text-align: center;
  border-bottom: 1px solid rgba(28, 28, 28, 0.7);
  padding-bottom: 0.6rem;
}

#workout {
  background-color: var(--platinum);
  width: 90%;
  margin: 1rem 5%;
  padding: 0.8rem;
  border-radius: 2rem;
  border: 2px solid var(--alabaster);
}

#getWorkoutName label {
  margin-bottom: 0.6rem;
}

#getWorkoutName input {
  margin-bottom: 0.8rem;
}

#getWorkoutName button {
  border-radius: 0.5rem;
}

#getWorkoutName button:hover {
    background-color: var(--platinum);
}

#getWorkoutName button:active {
    margin-top: 0.5rem;
    margin-left: 0.1rem;
    margin-bottom: -0.1rem;
    margin-right: -0.1rem;
}